node_modules/
dist/
.env
artifacts/
api-server/
mockup-sandbox/
lib/
scripts/
pnpm-lock.yaml

# Replit internals
.cache/
.local/
.upm/
.config/
.agents/

# System
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Misc
tmp/
out-tsc/
